<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<header th:fragment="header" class="row">
		<div class="col">
			<div style="background-color: #f8f9fa; padding: 20px; text-align: center; border-bottom: 2px solid #dee2e6;">
				<img th:src="@{/images/profile.webp}" alt="Profile Image" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;" />
				<h3 style="margin-top: 10px;">Quản Lý Hệ Thống</h3>
			</div>
		</div>
	</header>
</body>
</html>
